<article class="product-card">
  <!-- HEADER -->
  <div class="card-header">
    <span class="unit-badge">80 unidades</span>
    <img [ngSrc]="product()!.image" width="200" height="200" [alt]="product()?.name" />
  </div>

  <!-- BODY -->
  <div class="card-body">
    @if (product()?.category) {
      <p class="category">{{ product()?.category }}</p>
    }

    <h3 class="title">{{ product()?.name }}</h3>

    <div class="tags">
      @if (product()?.badge) {
        <span class="tag primary">{{ product()?.badge }}</span>
      }

      @if (product()?.brand) {
        <span class="tag secondary">{{ product()?.brand }}</span>
      }
    </div>

    <!-- precios -->
    <div class="prices">
      @for (p of product()?.prices || []; track $index) {
        <div class="price-row">
          <span>{{ p.label }}</span>
          <span>{{ p.value }}</span>
        </div>
      }
    </div>
  </div>

  <!-- FOOTER -->
  <div class="card-footer">
    <button class="btn-add" (click)="add.emit(product()!)">Agregar al carrito</button>

    <button class="btn-fav">♡</button>
  </div>
</article>
